@charset "UTF-8";
@font-face {
    font-family: IDroid;
    src: url("fontes/idroid.otf");
    font-weight: normal;
}
* {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
a {
   color: #1c6339;
   font-weight: bold;
}

main h2 {
    font-family: "IDroid", sans-serif;
    font-weight: normal;
    color: #1F7743 ;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
}

main h3 {
    font-family: "IDroid", sans-serif;
    color: #0f3f23;
    font-weight: 500;
    background-image: linear-gradient(to right, #5aa879, #fff);
    padding-left: 10px;
}

body {
    margin: 0px;
    background-color: rgb(230, 230, 175);
}

header{
    background-image: linear-gradient(to top, #053E1D, #136636, #29A261);
    color: white;
    display: block;
    margin: auto;
    min-height: 200px;
}
header > h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    margin: auto;
    padding-top: 50px;
    font-size: 2em;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.562);

}
.topo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0px;
}
header > p {
    margin: auto;
    font-size: 1em;
    font-weight: lighter;
    max-width: 600px;
    padding: 10px;
}
nav {
    padding: 0px;
    margin: 0px;    
}
nav a {
    padding: 10px;
    margin-right: 5px;
    color: #60AB84;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    transition-duration: 0.8s;
}
nav > a:hover {
    background-color: #268F52;
    color: #23553b;
}
main {
    display: block;
    max-width: 1000px;
    min-width: 320px;
    background-color: white;
    margin:auto;
    padding: 0px 20px 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.600);
    font-size: 1.3em;
    border-radius: 0px 0px 10px 10px;
}
main img {
    width: 100%;
} 
main .pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main a {
    background-color: #a1ebc2;
}
a.externo::after {
    content: "\00A0\1F517";
    font-size: 20px;
}

main a:hover {
    text-decoration: underline;
}
section{
    margin: 0px 30px;
    padding-top: 0%;
} 
main h2{
    font-size: 1.4em;
    padding-top: 20px;
    margin-top: 0px;
    min-width: 500px;
}
p{
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    font-size: 1em;
}
picture img{
    display: block;
    margin: auto;

}
div.video {
    background-color: #23553b;
    margin: 0px -50px 40px -50px;
    padding: 20px;
    padding-bottom: 60% ;
    position: relative;
}

div.video iframe{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
}
#extra {
   margin: 20px;
   text-align: justify;
   background-color: #afffd3b4;
   border-radius: 15px;
   font-size: 0.8em     ;
   
}
#extra > h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px 5px;
    background-color:#268F52;
    margin: auto;
    background-image: none;
    border-radius: 15px 15px 0px 0px;
}
#extra p{
    margin: 0px 15px
}
#extra ul div {
    list-style-position: inside;
    columns: 2;
    list-style-type: "\2714\00A0";
    min-width: 300px;
}
#extra #plus {
    margin-top: 5px;
    padding: 20px 0px;
}
#extra ins:hover{
    text-decoration: underline;
}

#p {
    margin: 20px 0px;
    padding: 20px;
}
footer {
    max-height: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #1F7743;
    
}
footer > p{
    margin: 0px;
    color: white;
    font-weight: normal;
}
footer a{
    color: white;
}
footer a:hover {
    color: #88c9a2;
    text-decoration: underline;
}
